body{
  padding-top: 0px;
}
.navbar {
      margin-bottom: 0px;
      border-radius: 0px;
    }
    footer {
          background-color: #333;
          padding: 0px;
          background-color: #333;

        }
        
